PORT=4000
JWT_SECRET=cambia_esto_por_una_clave_larga_y_secreta
JWT_EXPIRES_IN=8h

# Conexión a PostgreSQL
# (Si prefieres PostgreSQL en la nube, define DATABASE_URL y omite las PG*)
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=tu_contrasena_de_postgres
PGDATABASE=expedientes_hospital
